@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.created-by {
    color: #384e78;
    font-size: 20px;
}

.line {
    background-color: #97b3e5;
}

.task-image-1 {
    margin-top: 10px;
    width: 80px;
    transition: 0.3s;
}

.task-image-1:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

.task-image-2:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.task-image-2 {
    margin-top: 10px;
    width: 100px;
    transition: 0.3s;
}

.empty-task-1 {
    margin-top: 8px;
    font-size: 20px;
    font-family: Calibri;
}

.empty-task-2 {
    margin-top: 8px;
    font-size: 25px;
    font-family: Calibri;
}

.todo-icon {
    font-size: 50px;
}

.create-button {
    background-color: white;
    border-radius: 10px;
    border-width: 0;
    color: black;
    padding: 16px;
    text-align: center;
    font-size: 16px;
    transition: 0.3s;
}

.create-button:hover {
    background-image: linear-gradient(135deg, #ed765e, #acc0fe);
    color: white;
}

.user-name {
    font-size: 33px;
    padding: 10px;
    color: white;
}

.name {
    font-size: 30px;
    background: -webkit-linear-gradient(45deg, #a0f1ea, #dafea4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.user {
    height: 100vh;
    background-image: linear-gradient(180deg, #a9ebff 10%, white 90%);
}

.user-name-container {
    background-image: linear-gradient(135deg, #eda6ee, #a0f1ea);
    border-width: 0;
    border-style: solid;
    border-color: black;
    border-radius: 15px;
}

.user-input {
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    height: 50px;
    width: 200px;
    transition: 0.3s;
}

.user-input:hover {
    height: 62px;
    font-size: 20px;
}

.quote {
    font-size: 28px;
    color: black;
}

.todos-bg-container {
    background-image: linear-gradient(135deg, #ef33b1, #ead6ee, #f6e6bc);
}

.todos-heading {
    text-align: center;
    font-family: "Roboto";
    font-size: 46px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
    background: -webkit-linear-gradient(180deg, #4adede, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.create-task-heading {
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 700;
    color: white;
}

.create-task-heading-subpart {
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 500;
    color: #e8f5c8;
}

.todo-items-heading {
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 700;
    color: white;
}

.todo-items-heading-subpart {
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 500;
    color: #e266b9;
}

.todo-items-container {
    margin: 0;
    padding: 0;
}

.todo-item-container {
    margin-top: 15px;
}

.todo-user-input {
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #e4e7eb;
    border-radius: 10px;
    margin-top: 10px;
    padding: 15px;
    transition: 0.3s;
    width: 95%;
}

.todo-user-input:hover {
    height: 60px;
    width: 100%;
}

.button {
    background-image: linear-gradient(180deg, #1ca7ec, #1f2f98);
    color: white;
    font-family: "Roboto";
    font-size: 18px;
    border-width: 0;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
    transition: 0.3s;
}

.button:hover {
    background-image: linear-gradient(135deg, #7be495, #329d9c);
    color: white;
}

.label-container {
    background-color: white;
    width: 100%;
    border-style: solid;
    border-width: 5px;
    border-color: #096f92;
    border-right: none;
    border-top: none;
    border-bottom: none;
    border-radius: 4px;
    transition: 0.1s;
}

.label-container:hover {
    font-size: 25px;
    color: #dddfdd;
}

.checkbox-input {
    width: 20px;
    height: 20px;
    margin-top: 12px;
    margin-right: 12px;
}

.checkbox-label {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    width: 82%;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    color: black;
}

.delete-icon-container {
    text-align: right;
    width: 18%;
}

.delete-icon {
    padding: 15px;
    transition: 0.3s;
}

.delete-icon:hover {
    color: red;
    font-size: 25px;
}

.checked {
    text-decoration: line-through;
}

.task-container {
    background-image: linear-gradient(135deg, #a3c9e2, #d592ff);
    border-width: 0;
    border-style: solid;
    border-radius: 15px;
}

.label-container-color {
    background-image: linear-gradient(135deg, #50d5b7, #bfff37);
}

.task-heading-color {
    color: #66da62;
}

.task-container-color {
    background-color: #13db0d;
}

.task-heading-remove-color {
    color: red;
}
